<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3"> Đây là trang thơ </h1>
            <p class="lead"> trang web đang sử dụng bootstrap </p>
            <hr class="my-2">
            <!-- <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
            </p> -->
        </div>
    </div>
</head>

<body>
    <div>
        <center>
            <h1> Bài thơ: Sóng </h1> <br>
            <h2> Tác giả: Xuân Quỳnh </h2>
        </center>
    </div>

    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title"> Đoạn 1 </h4>
                <p class="card-text">
                    Dữ dội và dịu êm <br>
                    Ồn ào và lặng lẽ <br>
                    Sông không hiểu nổi mình <br>
                    Sóng tìm ra tận bể <br> <br>

                    Ôi con sóng ngày xưa <br>
                    Và ngày sau vẫn thế <br>
                    Nỗi khát vọng tình yêu <br>
                    Bồi hồi trong ngực trẻ <br> <br>

                    Trước muôn trùng sóng bể <br>
                    Em nghĩ về anh, em <br>
                    Em nghĩ về biển lớn <br>
                    Từ nơi nào sóng lên? <br> <br>
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title"> Đoạn 2 </h4>
                <p class="card-text">
                    Sóng bắt đầu từ gió <br>
                    Gió bắt đầu từ đâu? <br>
                    Em cũng không biết nữa <br>
                    Khi nào ta yêu nhau <br> <br>

                    Con sóng dưới lòng sâu <br>
                    Con sóng trên mặt nước <br>
                    Ôi con sóng nhớ bờ <br>
                    Ngày đêm không ngủ được <br>
                    Lòng em nhớ đến anh <br>
                    Cả trong mơ còn thức <br> <br>

                    Dẫu xuôi về phương bắc <br>
                    Dẫu ngược về phương nam <br>
                    Nơi nào em cũng nghĩ <br>
                    Hướng về anh - một phương <br> <br>

                </p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title"> Đoạn 3 </h4>
                <p class="card-text">
                    Ở ngoài kia đại dương <br>
                    Trăm nghìn con sóng đó <br>
                    Con nào chẳng tới bờ <br>
                    Dù muôn vời cách trở <br> <br>

                    Cuộc đời tuy dài thế <br>
                    Năm tháng vẫn đi qua <br>
                    Như biển kia dẫu rộng <br>
                    Mây vẫn bay về xa <br> <br>

                    Làm sao được tan ra <br>
                    Thành trăm con sóng nhỏ <br>
                    Giữa biển lớn tình yêu <br>
                    Để ngàn năm còn vỗ <br> <br>
                </p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>